@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / var(--count)));
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-100% / var(--count)));
  }
  to {
    transform: translateX(0);
  }
}

.logo-slider__track {
  animation: scroll-left calc(var(--speed) * 1s) linear infinite;
}

.logo-slider__container[data-direction="right"] .logo-slider__track {
  animation-name: scroll-right;
}

.logo-slider__container[data-pause-on-hover="true"]:hover .logo-slider__track {
  animation-play-state: paused;
}

.logo-slider__blur > div {
  background: linear-gradient(
    to right,
    black calc(var(--blur-index) * 100% / var(--blurs)),
    transparent
  );
}
